{% extends "base.html" %}
{% block content %}
<style>
	.profile-pic{
		width: 150px;
		height:150px;
		margin: 0 auto;
		border-radius: 50%;
	}
    .card{
        background: #66ffdc85;
    }
    input[type=text], input[type=email], input[type=url]{
        width: 100%;
    }
    td{
        padding:25px;
    }
    @media only screen and (max-device-width: 480px) {
        td {
        padding:10px;
        display:block;
        width: 100%;
        }
    }
</style>
<section class="mbr-section form1 cid-s1HhnieMcT" id="form1-27">
    <div class="container" style="margin-top:60px;">
        <div class="row">

            <div class="col-md-5">
		        <div class="card card-body">
                    <hr>
			        <h3 style="text-align: center">My Profile</h3>
			        <hr>
			        {% if user.userprofile.image %}<img class="profile-pic" src="{{user.userprofile.image.url}}">
                    {% else %}<span class="mbri-user mbr-iconfont mbr-iconfont-btn" style="font-size: 150px;text-align: center;"></span>{% endif %}
                   <br>
			        <h3 style="text-align: center">{{user.userprofile.description}}</h3>

                 </div>
                {% comment %} <br>
                 <div class="card card-body">
                    <h3 style="text-align: center">Asked Questions</h3>
			        <h3 style="text-align: center">Answer Given</h3>
			        <h3 style="text-align: center">Snippets</h3>
                <hr>
                 </div> {% endcomment %}
                 <br>
	        </div>

            <div class="col-md-7">
		        <div class="card card-body">
                    <table>
                    <tr><td><b>Username</b></td><td>{{user}}</td></tr>
                    <tr><td><b>Name</b></td><td>{{user.first_name|capfirst}} {{user.last_name|capfirst}}</td></tr>
                    <tr><td><b>Email</b></td><td>{{user.email|urlize}}</td></tr>
                    <tr><td><b>City</b></td><td>{{user.userprofile.city|capfirst}}</td></tr>
                    <tr><td><b>Website</b></td><td>{{user.userprofile.website|urlize}}</td></tr>
                    <tr><td><b>Phone</b></td><td>{{user.userprofile.phone}}</td></tr>
                    <tr><td colspan="2" style="padding:0px" align="center"><a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a></td></tr>
                    </table>
		        </div>
	        </div>

        </div>
    </div>
</section>
{% endblock %}
