{% extends "assignment_adda/base.html" %}{% load static %}

{% block content %}
<section class="mbr-section info3 cid-s1Hx6cmZmt mbr-parallax-background" id="info3-2q">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    ABOUT US</h2>
                <h3 class="mbr-section-subtitle align-left mbr-light mbr-white pb-3 mbr-fonts-style display-5">Assignment Adda is an app by leading Company <a href="index.html">Adda</a>
<div>Motive of this project is to help the people by providing great resources</div></h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="counters5 counters cid-s1HuEI3aLy" id="counters5-2p">

    

    

    <div class="container pt-4 mt-2">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Our Services</h2>
        
        <div class="row justify-content-center">
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">1</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Assignment Adda</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    You are currently use this service. Hope you enjoy and like it.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    2
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Blog Adda</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    A Blog app in which i share my articles. <a href="index.html">Have a look at it</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    3
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Downloader Adda</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Download videos from Instagram and Youtube. <a href="index.html">Have a look at it</a>.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}