{% extends "assignment_adda/base.html" %}{% load static %}
{% block content %}
<section class="header10 cid-s1GmF8Nt6x mbr-fullscreen mbr-parallax-background" id="header10-3">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-column mbr-white p-5 align-left">
            <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">ASSIGNMENT ADDA</h1>
            
            <p class="mbr-text pb-3 mbr-fonts-style display-5">Difficult in doing your assignmnets? Then no need to worry, this service made only for you!!</p>
            <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="{% url 'subjects' %}"><span class="mbri-right mbr-iconfont mbr-iconfont-btn"></span>SUBJECTS</a></div>
        </div>
    </div>

    
</section>
{% endblock content %}