{% extends 'assignment_adda/base.html' %} {% load static %} {% load my_tags %} {% block content %}
<section class="header1 cid-s1H23DT3HC mbr-parallax-background" id="header16-19">



    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">SUBJECTS</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Choose from various subjects and help yourself for your assignment</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="">ADD NEW SUBJECT</a></div>
            </div>
        </div>
    </div>

</section>

<section class="services5 cid-s1H5koxRZ5" id="services5-1a">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">


            </div>
            <!--Card-1-->
            {% for subject in subjects %}
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">
                                {{subject}}</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <a href="{% url 'subjects' %}/{{subject.id}}" class="mbr-text cost mbr-fonts-style m-0 display-5">Click Here</a></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                {{subject.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %} {% endfor %}
            <!--Card-1-->
        </div>
    </div>
</section>
{% endblock content %}