{% extends 'assignment_adda/base.html' %} {% block content %}
<style>
    .bg-c-1 {
        background: linear-gradient(45deg, #4099ff, #73b4ff);
    }
    
    .bg-c-2 {
        background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    }
    
    .bg-c-3 {
        background: linear-gradient(45deg, #FFB64D, #ffcb80);
    }
    
    .bg-c-4 {
        background: linear-gradient(45deg, #FF5370, #ff869a);
    }
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .card a {
        color: #fff;
    }
    
    .card a:hover {
        text-decoration: none;
    }
    
    .card .card-block {
        padding: 25px;
    }
    
    .order-card i {
        font-size: 26px;
    }
    
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }
    
    @media (min-width: 992px) {
        .col-md-4 {
            width: 25%;
        }
    }
    
    @media (min-width: 1500px) {
        .col-md-4 {
            width: 50%;
        }
    }
</style>
<h2>Subjects:</h2>
{% comment %} @for $i from 1 through 40 { .bg-c-#{$i} { background: linear-gradient(45deg, hsl(328, 100%, 50%), hsl($i * 70, 100%, 50%)); } } {% endcomment %}
<div class="row">

    {% for subject in subjects %}
    <!-- <li><a href="{% url 'subjects' %}/{{subject.id}}">{{subject}}</a></li> -->
    <div class="col-md-4 col-sm-6 col-xl-1">
        <div class="card bg-c-{{forloop.counter}} order-card">
            <a href="{% url 'subjects' %}/{{subject.id}}">
                <div class="card-block">
                    <h4 class="m-b-20">{{subject}}</h4>
                    <h2 class="text-right"><i class="fa fa-book f-right"></i></h2>
                    <p class="m-b-0">{{subject.desc}}</p>
                </div>
            </a>
        </div>
    </div>


    {% empty %}
    <div class="col-md-12 col-sm-12 col-xl-12">
        <div class="card bg-c-4 order-card">

            <div class="card-block">
                <h4 class="m-b-20">No Subject Found</h4>
                <h2 class="text-right"><i class="fa fa-book f-right"></i></h2>
                <p class="m-b-0">Ask administrator to add some Questions</p>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}