{% extends "assignment_adda/base.html" %} {% load static %}

 {% load static %}
 {% block content %}
<section class="header1 cid-s1HcvNFbbs mbr-parallax-background" id="header16-1q">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">{{topic}}</h1>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href=""><span class="mbri-arrow-prev mbr-iconfont mbr-iconfont-btn"></span>VIEW QUESTIONS Not WRK</a> <a class="btn btn-md btn-secondary display-4" href="{% url 'new_entry' topic.id %}"><span class="mbri-plus mbr-iconfont mbr-iconfont-btn"></span>ADD ANSWER</a></div>
            </div>
        </div>
    </div>

</section>

{% for entry in entries %}
<section class="mbr-section info1 cid-s1HdeduNrd" id="info1-1r">
<div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5 links">
                {{entry.text|urlize|linebreaks}}{% if entry.img.url is not null %}<a href="{{entry.img.url}}"><span class="mbri-link mbr-iconfont mbr-iconfont-btn"></a>{% endif %}</h3>
                <h2 class="align-left mbr-bold mbr-fonts-style display-7">
                    Answerd {% if entry.owner == request.user %}Me{% else %}{{entry.owner}}{% endif %} | {{entry.date_added|date:'M d, Y h:i'}}</h2>
            </div>
            
            <div class="media-container-column col-12 col-lg-3 col-md-4">
            {% if entry.owner == request.user %}
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-success-outline display-4" href="{% url 'edit_entry' entry.id %}"><span class="mbri-edit2 mbr-iconfont mbr-iconfont-btn"></span>EDIT ANSWER</a></div>
                
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% empty %}
<section class="mbr-section info1 cid-s1HdCUjzcX" id="info1-1s">
<div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5 links">Answer set empty</h3>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-primary display-4" href="{% url 'new_entry' topic.id %}"><span class="mbri-plus mbr-iconfont mbr-iconfont-btn"></span>ADD ANSWER</a></div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock content %}
