{% extends "base.html" %} {% block content %}
<section class="header1 cid-s1H7DIJE42 mbr-parallax-background" id="header16-1f">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">{{topic}}</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Choose from various questions or add your own assignment question</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="{% url 'subjects' %}"><span class="mbri-arrow-prev mbr-iconfont mbr-iconfont-btn"></span>SUBJECT</a> <a class="btn btn-md btn-secondary display-4" href="{% url 'new_topic' topic.id %}"><span class="mbri-plus mbr-iconfont mbr-iconfont-btn"></span>ADD NEW QUESTION</a></div>
            </div>
        </div>
    </div>

</section>

{% for topic in topicss %}
<section class="mbr-section info1 cid-s1H8OJiDPH" id="info1-1g">
<div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">{{topic.text|urlize}}</h3>
                <h2 class="align-left mbr-bold mbr-fonts-style display-7">
                    Asked By {% if topic.owner == request.user %}Me{% else %}{{topic.owner}}{% endif %}</h2>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-primary display-4" href="{% url 'topic' topic.id %}"><span class="mbri-preview mbr-iconfont mbr-iconfont-btn"></span>VIEW ANSWER</a></div>
            </div>
        </div>
    </div>
</section>
{% empty %}
<section class="mbr-section info1 cid-s1H8OJiDPH" id="info1-1g">
<div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">Question set empty</h3>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-primary display-4" href="{% url 'new_topic' topic.id %}"><span class="mbri-plus mbr-iconfont mbr-iconfont-btn"></span>ADD QUESTION</a></div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock content %}