{% extends "blog/base.html" %}{% load static %} {% block content %}
<!-- 

{% for blog in blogs %}

<section class="mbr-section content4 cid-s1XUXYJDLt" id="content4-36" style="margin-top: 30px;">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    {{blog.title}}
                </h2>


            </div>
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-s1XTvbyLIW" id="content6-34" style="margin-top: 0px;
    margin-bottom: 30px;">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 45%;">
                        <img src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg" alt="{{blog.title}}" width="200" height="200">
                    </div>
                    <div class="media-content" style="padding:28px">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">
                                {{ blog.content|truncatewords:50|slice:":-4" }}<strong><a href="{% url 'blog' %}{{blog.title}}">{{read_more}}</a></strong>

                            </p>
                            <p>{{blog.date_added}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}  -->
<section class="header10 cid-s1GmF8Nt6x mbr-fullscreen mbr-parallax-background" id="header10-3">



    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-column mbr-white p-5 align-left">
            <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BLOG ADDA</h1>

            <p class="mbr-text pb-3 mbr-fonts-style display-5">Read About Your Favourite Personality</p>
            <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="#myblogs"><span class="mbri-down mbr-iconfont mbr-iconfont-btn"></span>EXPLORE</a></div>
        </div>
    </div>


</section>
<section id="myblogs"></section>
<section class="testimonials4 cid-s1YhLiOvU9 mbr-parallax-background" id="testimonials4-3b">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">

        {% for blog in blogs %}
        <div class="col-md-10 testimonials-container">
            <div class="testimonials-item">
                <div class="user row">
                    <div class="col-lg-3 col-md-4">
                        <div class="user_image">
                            <img src="{% static 'assets/images/face1.jpg' %}">
                        </div>
                    </div>
                    <div class="testimonials-caption col-lg-9 col-md-8">
                        <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                            {{blog.title}}
                        </div>
                        <div class="user_text">
                            <p class="mbr-fonts-style  display-7">
                                <em>{{blog.content|truncatewords:50|slice:":-4" }}<strong><a href="{% url 'blog' %}{{blog.title}}">{{read_more}}</a></strong></em>
                            </p>
                        </div>

                        <div class="user_desk mbr-light mbr-fonts-style align-left pt-2 display-7">
                            {{blog.date_added}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}