{% extends "base.html" %}{% load static %} {% block content %}
<section class="cid-s310dX6wtN mbr-fullscreen mbr-parallax-background" id="header2-4a">



    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BLOG ADDA</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">Explore the worlds famous things, read my articles, thoughts and many more things.<br>Dive into my thoughts</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-success display-4" href="#myblogs"><span class="mbri-down mbr-iconfont mbr-iconfont-btn"></span>EXPLORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="{% url 'blog' %}api/"><span class="socicon socicon-zapier mbr-iconfont mbr-iconfont-btn"></span>API</a></div>
            </div>
        </div>
    </div>

</section>
<section id="myblogs"></section>
{% if blogs %}
<section class="testimonials4 cid-s1YhLiOvU9 mbr-parallax-background" id="testimonials4-3b">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">

        {% for blog in blogs %}
        <div class="col-md-10 testimonials-container">
            <div class="testimonials-item">
                <div class="user row">
                    <div class="col-lg-3 col-md-4">
                        <div class="user_image">
                            <img src="{{blog.img.url}}">
                        </div>
                    </div>
                    <div class="testimonials-caption col-lg-9 col-md-8">
                        <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                            {{blog.title}}
                        </div>
                        <div class="user_text">
                            <p class="mbr-fonts-style  display-7">
                                <em>{{blog.content|truncatewords:50|slice:":-4" }}<strong><a href="{% url 'blog' %}{{blog.title}}">{{read_more}}</a></strong></em>
                            </p>
                        </div>

                        <div class="user_desk mbr-light mbr-fonts-style align-left pt-2 display-7">
                            {{blog.date_added}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% else %}
<section class="testimonials4 cid-s1YhLiOvU9 mbr-parallax-background" id="testimonials4-3b">
<div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
        <div class="col-md-10 testimonials-container">
            <div class="testimonials-item">
                <div class="user row">
                    <div class="testimonials-caption col-lg-12 col-md-12">
                        <div class="user_text">
                            <p class="mbr-fonts-style  display-7" style="text-align: center;font-size: 2.3em;font-weight: 100;">
                                Oops, No blog here
                            </p>
                            <p style="text-align:center">Soon I'll post one!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}