{% extends "base.html" %}{% load static %}
{% block content %}
<section class="header1 cid-hMgCzchwKf" id="header16-3l">
<div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">404</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">The Page You Are Looking For Is Not Available</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="{% url 'blog' %}">BLOG ADDA</a> <a class="btn btn-md btn-black-outline display-4" href="{% url 'index' %}">ASSIGNMENT ADDA</a> <a class="btn btn-md btn-black-outline display-4" href="{% url 'snip' %}">SNIP ADDA</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}