{% extends "base.html" %}{% load static %}
{% block content %}
<section class="mbr-section content4 cid-s2WwjHjaJ9" id="content4-3w" style="margin-top: 100px;">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h1 class="align-center pb-3 mbr-fonts-style display-2">My Snippets</h1>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section article content12 cid-s2WvU5WjxM" id="content12-3v">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
            {% for snip in snips %}
                <div><h3>
                    <p class="alighleft" style="float: left;">
                    <a href="{% url 'snip' %}p/{{snip.link_code}}">{{snip.title}}</a>
                    </p>

                    <p class="alighright" style="float: right;">
            <a href="{% url 'edit_snip' snip.link_code %}"><span class="mbri-edit2 mbr-iconfont mbr-iconfont-btn"></a>
            <a href="{% url 'delete_snip' snip.link_code %}"><span class="mbri-close mbr-iconfont mbr-iconfont-btn" style="color:red;"></a>
                    </p>
                </h3></div>
                <div style="clear: both;"></div>
            {% empty %}
            <h5 class="align-center">No available snippets<br><a href="{% url 'snip' %}#start">Create new</h5></a>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}